<template>
    <v-container>
        <header>
            <v-img src="@/assets/images/titleImage.svg" contain min-height="200"></v-img>

            <h1 class="display-4 font-weight-thin text-center">Einrichtung beendet</h1>
            <p class="subtitle-1 text-center">Sie haben nun die Einrichtung Ihres persönlichen Geräts abgeschlossen.<br>
                Wenn Sie weitere Hilfe benötigen, wenden Sie sich an ihre Lehrperson oder den IT-Support</p>
        </header>
    </v-container>
</template>
<script lang="ts">
    import {mask} from 'vue-the-mask';
    import {Vue, Component} from "vue-property-decorator";

    @Component({
            directives: {
                mask
            }
        })
        export default class FinishSession extends Vue {
        }
</script>

<style lang="scss">
</style>